@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

html {
  scroll-behavior: smooth;
}

.p-l-5 {
  padding-left: 5px;
}

.p-r-5 {
  padding-right: 5px;
}

.p-r-10 {
  padding-right: 10px;
}

.p-r-15 {
  padding-right: 15px;
}

.m-t-15 {
  margin-top: 10px;
}

.m-b-15 {
  margin-bottom: 15px;
}

.m-b-25 {
  margin-bottom: 25px;
}

.top-remove {
  top: -150px;
}

.dis-none {
  display: none;
}

.dis-none-imp {
  display: none !important ;
}

.custom-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-optical-sizing: auto;
  font-style: normal;
  /* letter-spacing: 0.5px; */
  font-family: Arial, sans-serif;
  /* background-color: #f8f8f8;
  color: #333; */
  background-color: black;
  color: #ffffff;
  /* width: 100vw; */
  width: 100%;
  overflow-x: hidden !important;
  /* border: solid 1px red; */
}

h1,
h2,
h3,
h4,
p,
button,
a,
li {
  /* font-family:
    "Raleway", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif !important ;
  font-optical-sizing: auto; */
  font-family:
    var(--font-geist-sans), Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif !important ;
  font-optical-sizing: auto;
  /* font-style: normal; */
}

.imageWrapper {
  width: 100%;
}

.imageWrapper img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

a:hover {
  text-decoration: none !important;
}

.main-color {
  color: oklch(85.2% 0.199 91.936); /* yellow color */
}

.main-color-imp {
  color: oklch(85.2% 0.199 91.936) !important ;
}

.main-para-col {
  color: #cacaca;
}

/* .home-header-container {
  position: absolute;
  z-index: 10;
  width: 100%;
} */

/* special-text */
.special-text {
  position: relative;
}

.special-text::before {
  content: "|";
  position: absolute;
  left: -15px;
  top: -2px;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.animate-blink {
  animation: blink 1s step-start infinite;
}

/* contact form */
.contact-form-container {
  border-radius: 20px;
}

@media screen and (max-width: 768px) {
  .contact-form-container {
    margin: 65px 2% 40px;
  }
}
